<html>
  <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="Icono.ico" />
        <title>PackTex</title>
        <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="newcss3.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

{{#llegada}}
    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = 'PpyBjKLGorrBKzyNPRj0OadzL5oWqssN';
        // Geocode three locations, then call the createMap callback
        L.mapquest.geocoding().geocode(['{{direccionEntrega}}'], createMap);
        function createMap(error, response) {
          // Initialize the Map
          var map = L.mapquest.map('map', {
            layers: L.mapquest.tileLayer('map'),
            center: [0, 0],
            zoom: 12
          });
          // Generate the feature group containing markers from the geocoded locations
          var featureGroup = generateMarkersFeatureGroup(response);
          // Add markers to the map and zoom to the features
          featureGroup.addTo(map);
          map.fitBounds(featureGroup.getBounds());
        }
        function generateMarkersFeatureGroup(response) {
          var group = [];
          for (var i = 0; i < response.results.length; i++) {
            var location = response.results[i].locations[0];
            var locationLatLng = location.latLng;
            // Create a marker for each location
            var marker = L.marker(locationLatLng, {icon: L.mapquest.icons.marker()})
              .bindPopup(location.adminArea5 + ', ' + location.adminArea3);
            group.push(marker);
          }
          return L.featureGroup(group);
        }
      }
    </script>
    {{/llegada}}

  </head>

  <body style="border: 0; margin: 0;">
   <div class="fondo">
      <br>
      <a style="margin-left: 3%"><img src="Icono.ico" alt="" title="" width="100" height="100" /></a>
      <a style="margin-left: 25%" ><font face="Impact" size="7" color="white">¡Envía un paquete desde tu PC!</font></a>
    </div>

    <div class="border">

        <a class="caja_padre"><font face="Arial" size="4" color="black"><strong>↓↓ Listado de tus órdenes</strong></a>

        <a href="/orden" ><button type="submit" class="btn btn-success" style='width:190px; height:40px' id="boton_orden">Hacer una orden</button></a>

        <a href="/login" ><button type="submit" class="btn btn-danger" style='width:190px; height:40px'  id="boton_cerrar">Cerrar Sesión</button></a>
        

    </div>

     <div>
      {{#direccion}}
      {{#llegada}}
<div class="list">
<div class="modal" tabindex="-1" role="dialog" id=miModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <center> <p>¿Desea eliminar esta orden?</p></center>
      </div>
      <div class="modal-footer">
      
       <form action="/eliminar" method="post" >
        <center><button type="button" class="btn btn-danger"  id="id_orden" >Eliminar</button></center>
        </form>
        
      </div>
    </div>
  </div>
</div>
  </a>
</div>
  <a  class="list-group-item list-group-item-action" data-toggle="modal" data-target="#miModal">
   # Orden:{{idOrdenRecoleccion}}  /  Salida: {{direccionSalida}}  /  Destino:{{direccionEntrega}}
    </a>
           {{/llegada}}
          {{/direccion}}
          </div>
  <div id="map" style="width: 100%; height: 530px;"></div>
  </body>
</html>
