<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Orden</title>
        <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css_orden.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

      <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>


    </head>

  <body style="background-color:#4CA5BF;" >

    <h2 class="logo">
      <center>
    <img id="imagen" style="float:top; margin:1px;" alt="" src="Imagenes/Icono.ico" width="100" height="100" />
     <font face="Courier" size="8" color="black">PackTex</font>
    </center>
    </h2>

 </center> <font face="SimSun-ExtB" size="5" color="black"> <center id="texto">Coloque los datos de su orden:</center></font>
  <center> <div  class="container well"id="contendor">
	<div id="orden">

	<div id="envoltura">

            <div id="contenedor" >

			<div id="cuerpo">
        <form action="/orden" method="post">

              <div class="form-group">
	      <text>Dirección de recolección: </text>
              <input name ="direccion_salida" required class="form-control input-lg" type="text" placeholder=" ">
              </div>
					    <div class="form-group">
	<text>Peso del paquete (kg): </text>
              <input name="peso_paquete"  required type="number" min="1" max="999" class="form-control input-lg" placeholder="">
						  </div>
              <div class="bootstrap-iso">
					    <div class="form-group">
		<text>Dirección de entrega: </text>
              <input name="direccion_entrega"  required type="text" class="form-control input-lg" placeholder="">
              </div>
              <div class="form-group">
	      <text>Descripción del lugar: </text>
              <textarea name="descripcion_direccion_entrega"  required class="form-control" maxlength="140" rows="5" placeholder=""></textarea>
              </div>
	      <div class="form-group">
	      <text>Nombre de destinatario: </text>
              <input name="nombre_persona_entrega" pattern="[a-zA-Z]*"  required type="text" class="form-control input-lg"  placeholder="Nombre">
              </div>
	      <div class="form-group">
              <input name="apellido_persona_entrega" pattern="[a-zA-Z]*" required type="text" class="form-control input-lg"  placeholder="Apellido">
              </div>
              <a href="/principal" ><button type="submit" style='width:200px; height:50px' class="btn btn-success btn-lg"id="enviar">Enviar</button></a>

				</form>
                        </div>
			</div>

		</div><!-- fin contenedor -->

        </div>
      </center>
</body>

</html>
