<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="Icono.ico" />
        <title>PackTex -Registrarse</title>
        <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="newcss2.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

         <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>


    </head>

   <body style="background-color:#4CA5BF  ;" >


    <h2 class="logo">
      <center>
    <img id="imagen" style="float:top; margin:1px;" alt="" src="Icono.ico" width="100" height="100" />
     <font face="Courier" size="8" color="black">PackTex</font>
    </center>
    </h2>



    <h2><center>
        <div  class="container well"id="contendor">

        <div id="registrar">
          <div id="envoltura">
            <div id="contenedor" >
              <div id="cuerpo">

        <form action="/registro" method="post">

              <div class="form-group">
              <input name ="nombre" required pattern="[a-zA-Z]*" class="form-control input-lg" type="text" placeholder="Nombre">
              </div>
              <div class="form-group">
              <input name="apellido" required pattern="[a-zA-Z]*" class="form-control input-lg" type="text" placeholder="Apellido">
              </div>

        <div class="form-group">
              <input name="fecha_de_nacimiento" required class="form-control input-lg" type="date" placeholder="Fecha de nacimiento" max="2000-12-10" required>
             </div>

              <div class="bootstrap-iso">
              <div class="form-group">
              <input name="correo" type="email" required class="form-control input-lg" id="exampleInputEmail1" placeholder="E-mail">
              </div>
              <div class="form-group">
              </center>
      </h2>
        <h2>
          <center>
              <div  class="container well"id="contendor2" >
        <div id="registrar">
          <div id="envoltura">
            <div id="contenedor">
              <div id="cuerpo">

              <input name="clave" type="password" required class="form-control input-lg" pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*.{8,}"  id="exampleInputPassword1" placeholder="Clave">
              </div>
              <h2 class="texto">
              <font face="Arial" size="2" color="black"><strong>La clave debe contener mínimo 8 caracteres (mayúsculas, minúsculas, números y caracteres especiales).</strong></font>
              </h2>

            </div>
          </div><!-- fin contenedor -->
        </div>
    </center></h2>
<center>
                <button type="submit" style='width:190px; height:40px' class="btn btn-success btn-lg"id="registrar"><strong>Registrarme</strong></button>
              </center>
              <br>
        </form>
      </div>
    </div>
  </div><!-- fin contenedor -->
</div>



</body>

</html>
