<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro de usuario</title>
  </head>
  <body>
    <h1>Registro de usuario</h1>

    <form method="post" action="/registro">
      <input placeholder="nombre" name="nombre">
      <input placeholder="apellido" name="apellido">
      <input placeholder="correo" name="correo">
      <input placeholder="clave" name="clave">
    <button type="submit">registrar</button>
  </body>
</html>
